<menu id="LinesMenu">
    <menu-item id="linia_1" label="@Strings.linia_1" />
    <menu-item id="linia_2" label="@Strings.linia_2" />
    <menu-item id="linia_3" label="@Strings.linia_3" />
    <menu-item id="linia_4" label="@Strings.linia_4" />
    <menu-item id="linia_5" label="@Strings.linia_5" />
    <menu-item id="linia_6" label="@Strings.linia_6" />
    <menu-item id="linia_7" label="@Strings.linia_7" />
    <menu-item id="linia_8" label="@Strings.linia_8" />
    <menu-item id="linia_9" label="@Strings.linia_9" />
    <menu-item id="linia_10" label="@Strings.linia_10" />
    <menu-item id="linia_14" label="@Strings.linia_14" />
    <menu-item id="linia_18" label="@Strings.linia_18" />
    <menu-item id="linia_19" label="@Strings.linia_19" />
    <menu-item id="linia_21" label="@Strings.linia_21" />
    <menu-item id="linia_20" label="@Strings.linia_20" />
    <menu-item id="linia_22" label="@Strings.linia_22" />
    <!-- <menu-item id="linia_23" label="@Strings.linia_23" />
    <menu-item id="linia_24" label="@Strings.linia_24" />
    <menu-item id="linia_24B" label="@Strings.linia_24B" />
    <menu-item id="linia_25" label="@Strings.linia_25" />
    <menu-item id="linia_26" label="@Strings.linia_26" />
    <menu-item id="linia_26L" label="@Strings.linia_26L" />
    <menu-item id="linia_27" label="@Strings.linia_27" />
    <menu-item id="linia_28" label="@Strings.linia_28" />
    <menu-item id="linia_28B" label="@Strings.linia_28B" />
    <menu-item id="linia_29" label="@Strings.linia_29" />
    <menu-item id="linia_29S" label="@Strings.linia_29S" />
    <menu-item id="linia_30" label="@Strings.linia_30" />
    <menu-item id="linia_31" label="@Strings.linia_31" />
    <menu-item id="linia_32" label="@Strings.linia_32" />
    <menu-item id="linia_32B" label="@Strings.linia_32B" />
    <menu-item id="linia_33" label="@Strings.linia_33" />
    <menu-item id="linia_34" label="@Strings.linia_34" />
    <menu-item id="linia_35" label="@Strings.linia_35" />
    <menu-item id="linia_36B" label="@Strings.linia_36B" />
    <menu-item id="linia_36L" label="@Strings.linia_36L" />
    <menu-item id="linia_37" label="@Strings.linia_37" />
    <menu-item id="linia_38" label="@Strings.linia_38" />
    <menu-item id="linia_39" label="@Strings.linia_39" />
    <menu-item id="linia_39L" label="@Strings.linia_39L" />
    <menu-item id="linia_40" label="@Strings.linia_40" />
    <menu-item id="linia_41" label="@Strings.linia_41" />
    <menu-item id="linia_42" label="@Strings.linia_42" />
    <menu-item id="linia_43" label="@Strings.linia_43" />
    <menu-item id="linia_43B" label="@Strings.linia_43B" />
    <menu-item id="linia_43P" label="@Strings.linia_43P" />
    <menu-item id="linia_44" label="@Strings.linia_44" />
    <menu-item id="linia_45" label="@Strings.linia_45" />
    <menu-item id="linia_46" label="@Strings.linia_46" />
    <menu-item id="linia_46B" label="@Strings.linia_46B" />
    <menu-item id="linia_46L" label="@Strings.linia_46L" />
    <menu-item id="linia_47" label="@Strings.linia_47" />
    <menu-item id="linia_48" label="@Strings.linia_48" />
    <menu-item id="linia_48L" label="@Strings.linia_48L" />
    <menu-item id="linia_50" label="@Strings.linia_50" />
    <menu-item id="linia_50D" label="@Strings.linia_50D" />
    <menu-item id="linia_50L" label="@Strings.linia_50L" />
    <menu-item id="linia_52" label="@Strings.linia_52" />
    <menu-item id="linia_52L" label="@Strings.linia_52L" />
    <menu-item id="linia_53" label="@Strings.linia_53" />
    <menu-item id="linia_56" label="@Strings.linia_56" />
    <menu-item id="linia_57" label="@Strings.linia_57" />
    <menu-item id="linia_100" label="@Strings.linia_100" />
    <menu-item id="linia_100L" label="@Strings.linia_100L" />
    <menu-item id="linia_101" label="@Strings.linia_101" />
    <menu-item id="linia_102" label="@Strings.linia_102" />
    <menu-item id="linia_102L" label="@Strings.linia_102L" /> -->
</menu>
